fastapi==0.103.1
fireo==2.2.1
google-api-python-client==2.101.0
google-cloud-bigquery==3.11.4
google-cloud-logging==3.7.0
google-cloud-secret-manager==2.16.4
jsonschema==4.19.1
gcsfs==2023.9.2
kubernetes==28.1.0
pandas==2.1.1
regex==2023.8.8
